[submodule "Assets/SleeplessOwl/RenLib"]
	path = Assets/SleeplessOwl/RenLib
	url = https://github.com/YuSiangLai/RenLib.git
[submodule "Packages/URP-Custom-Post-Processing"]
	path = Packages/URP-Custom-Post-Processing
	url = https://github.com/SleeplessOwl0102/URP-Custom-Post-Processing.git
